<nav class="bg-dark text-light p-3 border border-light border-top-0 border-end-0 border-start-0 ">
    <div class="container d-flex flex-row align-items-center justify-content-between">
        <a class="text-decoration-none text-light display-6" href="{% url 'home' %}">
            <i class="bi bi-check2-all"></i>
            Todo
        </a>
        <div class="dropdown">
            <button class="btn btn-outline-light dropdown-toggle dropdown-toggle-split" type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{ request.user.username }}
            </button>
            <ul class="dropdown-menu dropdown-menu-dark">
                <li>
                    <a class="dropdown-item" href="{% url 'profile' %}">
                        <i class="bi bi-person-lines-fill"></i>
                        Profile
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'home' %}">
                        <i class="bi bi-check2-all"></i>
                        Todos
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'logout' %}">
                        <i class="bi bi-box-arrow-right"></i>
                        Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>